@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat.woff2') format('woff');
}

body {
    font-family: 'Montserrat';
    background-color: #1e1e1e;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  form {
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  label {
    display: flex;
    font-family: 'Montserrat';
    margin-top: 10px;
    margin-right: 10px;
  }
  input, select, textarea {
    width: 100%;
    padding: 8px 0px 8px 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
  }
  input[type="checkbox"] {
    width: auto;
  }
  button {
    width: 100%;
    padding: 10px;
    background-color: #00649d;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #0056b3;
  }

  .checkbox_tags{
    display:flex;
    flex-wrap: wrap;
  }

  .screen{
    border:10px solid grey;
    /* border-radius: 10%; */
    width:400px;
  }

  .screen__text{
    padding: 10px;
    list-style-type:none
  }

  .panel {
    display: flex;
    flex-wrap: wrap;
    margin-top: 400px;
  }

  li {
    margin-top: 10px;
  }


  @media (max-width: 768px) {
    .panel {
      flex-direction: column; 
      height: fit-content;
    }
  }